{% extends "_base.njk" %} {% block body %}

  <h1>Hello World! {{ mainHeading }}</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam
    aliquid deleniti eos esse est, fuga,
    laboriosam maiores minus numquam perferendis placeat quam quisquam tempora
    ullam, vero vitae. Consequatur,
    delectus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam
    aliquid deleniti eos esse est, fuga,
    laboriosam maiores minus numquam perferendis placeat quam quisquam tempora
    ullam, vero vitae. Consequatur,
    delectus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam
    aliquid deleniti eos esse est, fuga,
    laboriosam maiores minus numquam perferendis placeat quam quisquam tempora
    ullam, vero vitae. Consequatur,
    delectus.</p>
  <p>Enjoy coding!</p>
  <p>Powered by Express and Nunjucks.</p>

{% endblock %}
