{% extends "partials/_base.njk" %}
{% import "partials/quoteCard.njk" as cards %}

{% block content %}
  <section class="container">
    <hgroup>
      <h1>Random Quote</h1>
      <p>Here's a little inspiration.</p>
    </hgroup>

    <div class="quotes-grid">
      {{ cards.quoteCard(quote) }}
    </div>

    <a href="/quotes/random">
      <button type="button">
        Get Another Quote
      </button>
    </a>

    <a href="/#quotes">
      <button type="button" class="secondary">
        Back to All Quotes
      </button>
    </a>
  </section>
{% endblock %}