{% import "macros/ColorCard.njk" as ColorMacros %}
{% extends "_base.njk" %}

{% block content %}
  <h1>Hello Dolphins to {{ title }}</h1>
  <ul>
    {% for color in colors %}
      <li>{{ ColorMacros.ColorCard(color) }}</li>
    {% else %}
      <p>Keine Farben :(</p>
    {% endfor %}
  </ul>
{% endblock content %}
