{% extends '_base.njk' %}

{% block content %}
  <div>
    <h2>This link has expired or doesn't exist</h2>
    <p>The message may have already been read, or the link was never valid.</p>
    <a role="button" href="/messages">Write your own secret</a>
  </div>
{% endblock content %}
