{% extends '_base.njk' %}

{% block content %}
  <div>{{ message | safe }}</div>
  <br />
  <div>
    <a role="button" href="/messages">Write your own message</a>
    <a role="button" href="/">Back to home</a>
  </div>
{% endblock content %}
