<nav>
  <ul>
    <li>
      <a href="/" class="contrast">
        <strong>Quotes API</strong>
      </a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="/#quotes">Quotes</a>
    </li>

    <li>
      <a href="/quotes/random">Random Quote</a>
    </li>
  </ul>
</nav>